[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
speechrecognition = "*"
python-dotenv = "*"
sounddevice = "*"
pydub = "*"
pyaudio = "*"
keyboard = "*"
numpy = "*"
python-decouple = "*"
pyttsx3 = "*"
langchain-openai = "*"
langchain = "*"
openai = "*"
openai-whisper = "*"
openmeteo-requests = "*"
requests-cache = "*"
retry-requests = "*"
pandas = "*"
numexpr = "*"
langchain-community = "*"
langchainhub = "*"
opencv-python = "*"
llama-index = "*"

[dev-packages]

[requires]
python_version = "3.9"
